:root {
    --box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: lora, inter, montserrat, sans-serif;
    box-sizing: border-box;
}

body, section {
    height: 100vh;
    /* width: 100%; */
    color: ivory;
}

body::-webkit-scrollbar {
    display: none;
}

#hero {
    width: 100%;
    background-image: url(/assets/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.2rem 1.625rem;
    /* margin: 0.625rem 0; */
    font-size: 1.25rem;
    
}

.nav a {
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0.625rem;
    text-decoration: none;
    transition: .5s ease-in-out;
    cursor: pointer;
    margin-right: 2rem;
    color: ivory;
}

.nav a:hover {
    background-color: ivory;
    color: #040303;
}

.btns {
    display: flex;
    justify-content: space evenly;
    align-items: center;
}

.btns button, 
.hero-content button,
#fieldset-btn button{
    padding: 0.625rem;
    margin: 0 0.625rem;
    border: 1px solid ivory;
    outline: none;
    border-radius: 0.3125rem;
    background-color: transparent;
    color: ivory;
    transition: .5s ease-in-out;
}

.btns button:hover, 
.hero-content button:hover,
#fieldset-btn button:hover {
    background-color: ivory;
    color: #040303;
    cursor: pointer;
}

.hero-content {
    /* border: 1px dotted white; */
    position: relative;
    margin: 2rem 11rem;
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-content h1 {
    text-align: left;
}

.hero-content p {
    margin: 3rem 1rem;
    font-size: 2rem;
    text-align: center;
}

#nsfw {
    /* border: 1px dotted ivory; */
    height: 100vh;
    background-color: #171717;
    text-align: center;
    padding: 6.25rem;
}

#nsfw-content {
    /* border: 1px dotted ivory; */
    outline: transparent;
    box-shadow: var(--box-shadow);
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    align-items: center;
}

#nsfw-img {
    border: 1px dotted ivory;
    max-width: 20rem;
    max-height: fit-content;
    border-radius: 0.3125rem;
    box-shadow: var(--box-shadow);

}

#img-info {
    border: 1px dotted ivory;
}

#sfw-cont, 
#nsfw-cont {
    margin: 0.3125rem;
}

fieldset {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.3125rem;
}

#fieldset-btn {
    margin: 0.3125rem, 0, 0, 0;
}